*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.nav_headline{
  text-transform: uppercase;
  line-height: 4rem;
  margin-top: 10rem;
 
}

#header{
  background-image: url('./image/hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-get-started{
  font-weight:500;
  font-size:16px;
  margin-top: 1rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration:none;
  padding-right: 2rem;
}
.btn-get-started:hover{
  background: #3498db;
  color: #fff;
}
.main-head h1{
  font-size: 4rem;
}
.cards{
  width: 20rem;
}
.cards:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}
.card-bodys{
  padding: 3rem 0 !important;
  background-color: aliceblue;
}
.card-texts{
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}
.card-container{
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.card-img-top{
  transform: scale(1);
  transition: transform 0.5s ease;
}
.overflow{
  overflow: hidden;
}
.card-img-top:hover{
  transform: scale(1.5);
}
.navbar-brand img{
  width: 100px;
  height: 100px;
}
.navbar-nav{
  padding-right: 10rem !important;
}
.navbar{
  background: #fff !important;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565356 !important;
}
.navbar a{
  text-transform: capitalize;
}
.navbar a:hover{
  color: aqua;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
#header .strong_invest{
  color: #20509e;
}
#header .nav_headline{
  color: #16d0c5;
}
#header .header_paragraph{
  color: #16d0c5;
}
#header .strong_paragraph{
  color: #20509e;
}
#header .header-img{
  text-align: right;
}
#header .input-email{
  width: 15rem;
  height: 3rem;
  border-radius: 20px;
  border: 2px solid #3498db; 
  margin-top: 1rem;
  margin-right: 2rem;
}

 .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
#card_id{
  background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
}
#about{
margin-top: 10rem;

}
#about about-img{
  text-align: left;
}
#about .about_headline1{
  color:#20509e;
  font-size: 40px;
}
#about .about_headline2{
  color: #3498db;
  font-size: 25px;
}
#about .about_paragraph{
  color: #565356;
  font-size: 15px;
}
#about .btn1{
  margin-top: 0.5rem;
}
@media(max-width:991px){
  .navbar-brand {
    font-size: 1.5rem;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
}
.card{
  margin: 6%;
  transition: all o.4s cubic-bezier(0.175,0.885,0,1);
  border-radius: 12px;
  box-shadow:0px 13px 18px -8px rgba(0,0,0,0.1);
  float: left;
  overflow: hidden;
  transform: scale(1);
}
.card-img-top{ 
   height: 200px;
}
.card_button{
  font-size: 10px;
}
#partners .partner-img{
  width:10%;
  height:10%;
  
}
#partners .partner-img img{
  border-radius: 50%;
  padding-right: 10%;
}
#newsletter{
  background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
}
#newsletter .input-email{
  width: 15rem;
  height: 3rem;
  border-radius: 20px;
  border: 2px solid #3498db; 
  margin-top: 1rem;
  margin-right: 2rem;

}
#newsletter .newsBtn{
  color:#fff;
}
.process_head h1{
  color:#3498db !important;
  font-size: 3.5rem;
}
.process_head p{
color: slategray;
}
.Team_head h1{
color: #3498db;
}
.Team_head p{
  font-size: 15px;
  padding-top: 2rem;
  color: slategray;
}
.ceo{
  background-color:#17a2b8;
  height: 10vh;
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important; 
}
.ceo h3{
  padding-top: 0.7rem;
  color: #fff;
  font-size: 35px;
}
.Team_para h1{
  margin-top: 3rem;
  color: #3e2bce;
  text-align: center;
}
.Team_para .about_paragraph1{
  text-align: center;
  font-weight: 600;
}
#Team .ceo_img{
  padding-top: 3rem;
  transform: scale(1);
  transition: transform 0.5s ease;
}

#Team .ceo_img:hover{
  transform: scale(1.1);
}


#button-addon1 {
  color: #ffc371
}

i {
  color: #0000cc;
  font-size: 20px
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic
}

.form-control.shadow-0:focus {
  box-shadow: none
}

.display-3 {
  font-family: 'Sanchez', serif
}
.lead {
  font-family: 'Sanchez 200', serif
}
/*Contact form*/

#contact .box
{
	width: 400px;
	position: absolute;
	top:65%;
	left: 75%;
	transform: translate(-50%,-50%);
	background:#fff;
	padding: 50px;
	box-sizing: border-box;
	border:2px solid rgba(0,0,0,.1);
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#contact .box h2
{
	justify-content: center;
	text-align: center;
	align-items: center;
	/*margin:0 0 40px;
	padding: 0;*/
	color:#f7497d;
	text-transform: uppercase;
}
#contact .box input
{
	padding: 10px 0;
	margin-bottom: 30px;
}
#contact .box textarea
{
	height: 80px;
	padding: 10px 0;
	margin-bottom: 40px;
}
#contact .box input,
#contact .box textarea
{
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border:none;
	border-bottom: 2px solid #999;
}
#contact .box textarea
{
	margin-bottom: 20px;
	max-width: 100%;
}
#contact .box input[type="submit"]
{
	background-color: #f7497d;
	border-bottom: none;
	cursor: pointer;
	margin-bottom: 0;
	text-transform: uppercase;
}
#contact .box form div
{
	position:sticky;
}
#contact .box form div label
{
	position: absolute;
	top:10px;
	left: 0;
	pointer-events: none;
	transition: .5s;
	color:#999;
}
#contact .box input:focus ~ label,
#contact .box textarea:focus ~ label,
#contact .box input:valid ~ label,
#contact .box textarea:valid ~ label
{
	top:-20px;
	left: 0;
	color:#f7497d;
	font-size: 16px;
}
#contact .box input:focus,
#contact .box textarea:focus,
#contact .box input:valid,
#contact .box textarea:valid
{
	border-bottom: 2px solid #f7497d;
}
#contact .box .img img
{
	margin-top: -1%;
	margin-left: 34%;
	left: 100px;
	height: 100px;
	
}
#contact .image img
{
	height: 500px;
	width:500px;
	display: flex;
	margin-left: 10%;
	margin-top: 8%;
}
#contact .btn
{

	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #f7497d, #32be8f, #38d39f, #f7497d);
	background-size: 200%;
	border-bottom: none;
	font-size: 1.2rem;
	color: #000;
	font-family: sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
#contact .btn:hover{
	background-position: right;
}

input:invalid {
	border-color: rgb(255, 0, 43);
  }

  /*Partners*/

  .testimonials-clean {
    color:#313437;
    background-color:#eef4f7;
  }
  
  .testimonials-clean p {
    color:#7d8285;
  }
  
  .testimonials-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .testimonials-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .testimonials-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .testimonials-clean .intro p {
    margin-bottom:0;
  }
  
  .testimonials-clean .people {
    padding:50px 0 20px;
  }
  
  .testimonials-clean .item {
    margin-bottom:32px;
  }
  
  @media (min-width:768px) {
    .testimonials-clean .item {
      height:220px;
    }
  }
  
  .testimonials-clean .item .box {
    padding:30px;
    background-color:#fff;
    position:relative;
  }
  
  .testimonials-clean .item .box:after {
    content:'';
    position:absolute;
    left:30px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#fff;
  }
  
  .testimonials-clean .item .author {
    margin-top:28px;
    padding-left:25px;
  }
  
  .testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
  }
  
  .testimonials-clean .item .title {
    font-size:13px;
    color:#9da9ae;
  }
  
  .testimonials-clean .item .description {
    font-size:15px;
    margin-bottom:0;
  }
  
  .testimonials-clean .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
  }
  
  